{% extends "base.html" %}

{% block content %}

<div class=" col-md-12 mb-3">
    <!--Section: Products v.3-->
    

      <div class="row wow fadeIn">

        {% for item in object_list %}
          <div class="card text-center xm-auto  shadow-1"  style="width: 8.5rem;">
            <a href="{{ item.get_absolute_url }}">
            <img class="card-img-top"  src="{{ item.image.url }}"  alt="Card image cap">

            </a>
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">
                <span class="badge badge-pill badge-notification{{ item.get_label_display }} bg-warning">NEW </span>

                {{ item.title }}</p>
              <p class="card-text">
                {% if item.discount_price %}
                  <p class="mr-1">
                    <del><strong>R{{ item.price }}</strong></del>
                  </p>
                  <p><strong>R{{ item.discount_price }}</strong></p>
                  {% else %}
                  <span>R{{ item.price }}</span>
                  {% endif %}
                </p>
              <a href="{{ item.get_absolute_url }}" class="btn btn-outline-primary btn-rounded warning-text">
                <div class="text-warning">
                  Start Order
                 </div>
                  
              </a>
            </div>
          </div>
          {% endfor %}
      </div>  
    
</div>
  


  <hr>

  <!--Grid row-->
  <div class="row d-flex justify-content-center wow fadeIn">

    <!--Grid column-->
    <div class="col-md-6 text-center">

      <h4 class="my-4 h4">Additional information</h4>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
        voluptates,
        quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

  <!--Grid row-->
  <div class="row wow fadeIn">

    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">

      <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">

      <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">

      <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</div>





{% endblock content %}
