{% extends "base.html" %}


{% block content %}


<main>
  <!-- Carousel wrapper -->
  
  
  <div class=" col-sm-12 raw-mb-2 ">
    
    
      <!--Section: Products v.3-->
     
        

        <div class="row wow fadeIn">

          {% for item in object_list %}
          <div class="card text-center xm-auto  shadow-1"  style="width: 12rem;">
            <a href="{{ item.get_absolute_url }}">
            <img class="card-img-top"  src="{{ item.image.url }}"  alt="Card image cap">

            </a>
            <div class="card-body">
              <h5 class="card-title">{{ item.get_category_display }}</h5>
              <p class="card-text">
                <span class="badge badge-pill badge-notification{{ item.get_label_display }} bg-warning">NEW </span>

                {{ item.title }}</p>
              <p class="card-text">Price 
                {% if item.discount_price %}
                  <p class="mr-1">
                    <del><strong>R{{ item.price }}</strong></del>
                  </p>
                  <p><strong>R{{ item.discount_price }}</strong></p>
                  {% else %}
                  <span>R{{ item.price }}</span>
                  {% endif %}
                </p>
              <a href="{{ item.get_absolute_url }}" class="btn btn-outline-primary btn-rounded warning-text"">
                <div class="text-warning">
                  Start Order
                 </div>
                  
              </a>
            </div>
          </div>
          {% endfor %}
            
     </div>

    </div>
          
            
          
   
      
      
   
      <!--Section: Products v.3-->

      <!--Pagination-->

      {% if is_paginated %}
      <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">

          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {% endif %}

          <li class="page-item active">
            <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
              <span class="sr-only">(current)</span>
            </a>
          </li>

          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
  </div>
    


    <hr>

    <!--Grid row-->
    <div class="row d-flex justify-content-center wow fadeIn">

      <!--Grid column-->
      <!-- <div class="col-md-6 text-center">

        <h4 class="my-4 h4">Additional information</h4>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
          voluptates,
          quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

      </div> -->
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <!-- <div class="row wow fadeIn">

      <!-- Grid column -->
      <!-- <div class="container p-4"> -->
        <!-- Section: Iframe -->
        <!-- <section class="">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6">
              <div class="ratio ratio-16x9">
                <iframe
                  class="shadow-1-strong rounded"
                  src="https://www.youtube.com/embed/vlDzYIIOYmM"
                  title="YouTube video"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
          </div>
        </section>
        <!-- Section: Iframe -->
      <!-- </div>  -->
      <!-- Grid container -->
    <!--Grid row-->

  <!-- </div> -->

  </main>

{% endblock content %}


