{% load cart_template_tags %}


<!--Main Navigation-->
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
    <div class="container-fluid justify-content-between">
        <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="/">
        <img
        src="https://www.linkpicture.com/q/My-Post_8.png"
        
        height="37"
        alt=""
        loading="lazy"
        /></a>
        <button 
        class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="fas fa-bars"></span>
        <!-- <i class="fas fa-bars"></i> -->
        </button>
        
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ">
            {% if request.user.is_authenticated %}
            <ul class="navbar-nav flex-row d-none d-md-flex">
                
                <li class="nav-item me-3 me-lg-1 ">
                    <a href="{% url 'rope:order-summary' %}" class="nav-link" data-class="fixed-left">
                    <span class="badge rounded-pill badge-notification bg-danger">{{ request.user|cart_item_count }} </span>
                    <span class="fas fa-shopping-cart"></span>

                    Cart
                    </a>
                </li>
                <li class="nav-item me-3 me-lg-1">
                    <a href="{% url 'account_logout' %}" class="nav-link" data-class="fixed-left">
                        <i class="fa fa-arrow-left"></i>
                        Logout
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}">Login
                    <span><i class="fas fa-sign-in-alt"></i></span>
                    </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'account_signup' %}">Signup
                    <span><i class="fas fa-user-plus"></i></span>
                </a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                    <div class="dropdown-menu">
                        <a href="{% url 'rope:accessories' %}" class="dropdown-item">Accessories</a>
                        <a href="{% url 'rope:phones' %}" class="dropdown-item">Phones</a>
                        <a href="{% url 'rope:clothes' %}" class="dropdown-item">Clothes</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">Separated link</a>
                        <a class="dropdown-item">One more separated link</a>
                    </div>
                </li>
            </ul>
            
            </ul>
            
            
        </div>
    </nav>
    <div class="container">
    <div class="jumbotron">
        
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label>
                    <!-- Select another bootstrap theme from
                    <a href="https://bootswatch.com/" target="_blank">Bootswatch</a> -->
                </label>
                <select class="form-control width-md" id="theme_select" onchange="selectTheme(value)"></select>
            </div>
        </div>
    </div>

    
    </div>
</div>  
  
</header>
<!--Main Navigation-->

<!--Main layout-->
